footer.footer(ng-controller='FooterCtrl')
  .container
    p
      | TasksJS v{{ version }}
      = ' | '
      a(ng-hide='isNodeWebkitApp', href='https://github.com/jsikorski') Jakub Sikorski
      spane(ng-show='isNodeWebkitApp') Jakub Sikorski