div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(ng-hide='!taskListsLoaded || taskLists.length')
  .container
    h1 Witaj {{ currentUser.name }}!
    p.lead Aby dodać nową listę zadań naciśnij przycisk plus
    img(src='{{ origin + "/assets/images/yeoman.png" }}', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Moje listy zadań:
        button.btn.btn-primary.pull-right(ng-click='addTaskList()', tooltip='Dodaj listę zadań')
          span.glyphicon.glyphicon-plus
      .row
        .task-list.col-sm-6.col-md-4(ng-repeat='taskList in taskLists', ng-controller='TaskListCtrl')
          .thumbnail
            .caption

              .pull-right.actions
                i.fa.fa-pencil(ng-click='edit()', tooltip='Edytuj')
                i.fa.fa-close(ng-click='deleteTaskList(taskList)', tooltip='Usuń')

              h3 {{ taskList.name }}
                  
              div.tasks-info
                p Zadania do wykonania: {{ taskList.getNumberOfUnfinishedTasks() }}
                p Zadania zakończone: {{ taskList.getNumberOfFinishedTasks() }}
              p
                button.btn.btn-primary(href="#" role="button", ng-click='showTaskListDetails()') Pokaż zadania
                button.btn.btn-default(href="#" role="button") Udostępnij

div(ng-include='"components/footer/footer.html"')